<div>
    <nav>
        <div class="nav-wrapper">
            <a id="navTitle" class="brand-logo">Hello World</a>
        </div>
    </nav>

    <main>
        <div>

        </div>
    </main>
</div>